@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Mulish", sans-serif;
  --third-family: "Playfair Display", sans-serif;
}